.container {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 135px;
    background: #FCFCFC;
    box-shadow: 0px 2px 10px rgba(109, 109, 109, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.btn {
    background: #366EFF;
    box-shadow: 0px 4px 18px rgba(54, 110, 255, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    color: #FCFCFC;
    font-weight: bold;
}