.container {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 135px;
  background: #fcfcfc;
  box-shadow: 0px 2px 10px rgba(109, 109, 109, 0.25),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.btn {
  background: #366eff;
  box-shadow: 0px 4px 18px rgba(54, 110, 255, 0.35),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 16px;
  border: none;
  color: #fcfcfc;
  font-weight: bold;
  transition: 1s;
  cursor: pointer;
}

.btn:hover {
  background-color: #fcfcfc;
  color: #000000;
}

.profileLink {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.name {
  color: #000000;
}

.avatar {
  margin-left: 5px;
  max-width: 36px;
  border-radius: 50%;
}
