img {
  width: 100%;
}

.common {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mrg {
  margin-top: 10px;
}

.mrg2 {
  margin-top: 20px;
}

.title {
  margin: 0;
  padding-bottom: 20px;
}

.container {
  min-height: 100vh;
  padding: 0 135px;
}

.arrow {
  transform: rotate(180deg);
  margin-right: 5px;
}

.avatar {
  max-width: 100px;
  position: relative;
}

.paper {
  flex-direction: column;
  padding: 35px 85px;
  max-width: 360px;
  margin: 20px auto;
}

.link {
  text-decoration: none;
  color: #000000;
  display: flex;
  align-items: center;
}

.addPhoto {
  position: absolute;
  padding: 5px;
  background-color: lightgray;
  max-width: 25px;
  border-radius: 50%;
  right: 0;
  bottom: 0;
}

.addForm {
  min-height: 52px;
}

.logOut {
  margin-left: 5px;
}

.btn {
  display: flex;
  align-items: center;
  background: #fcfcfc;
  box-shadow: 0px 2px 10px rgba(109, 109, 109, 0.25), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 16px;
  border: none;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  transition: 1s;
}

.btn:hover {
  background-color: #366eff;
}
