.wrapper {
    margin-top: 30px;
}

.wrapper__header {
    display: flex;
    justify-content: space-between;
    padding: 0 135px;
}

.wrapper__title {
    margin: 0;
}

.wrapper__btn {
    background: #366eff;
    box-shadow: 0px 4px 18px rgba(54, 110, 255, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    color: #fcfcfc;
    font-weight: 600;
    transition: 1s;
    cursor: pointer;
}

.container {
    max-width: 1650px;
    border: 1px solid lightgray;
    margin: 0 auto;
}

.header {
    padding: 0 135px;
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    margin-bottom: 10px;
}

.btnGroup {
    border: 1px solid #D9D9D9;
}

.btnOff {
    height: 56px;
    width: 96px;
    background: #366eff;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    color: #fcfcfc;
    font-weight: bold;
    cursor: pointer;
}

.btnOn {
    height: 56px;
    width: 96px;
    background: #fcfcfc;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
}

.range {
    display: flex;
    align-items: center;
    width: 500px;
}

.slider {
    width: 300px;
    margin: 0 20px;
}

.reset {
    align-self: flex-end;
}

.btn {
    height: 56px;
    width: 50px;
    background: #fcfcfc;
    border: 1px solid #D9D9D9;
    padding: 10px 10px;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
}

.mainRow {
    background: linear-gradient(207deg, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 0%);

}

.cell {
    font-weight: bold;
}

.actions div {
    margin: 0 5px;
}

.pagination {
    padding: 0 135px;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.itemsCount {
    align-self: center;
    margin-right: 10px;
}

.itemsAmount {
    border: 1px solid lightgrey;
}

.itemsAmount:focus {
    border: 1px solid lightgrey;
}
