.common {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    padding-bottom: 20px;
}

.mrg {
    margin-top: 10px;
}

.mrg2 {
    margin-top: 50px;
}

.mrg3 {
    margin-top: 30px;
}

.container {
    min-height: 100vh;
    padding: 0 135px;
    margin: 0 auto;
}

.paper {
    flex-direction: column;
    padding: 25px 35px;
    max-width: 300px;
    margin: 20px auto;
}

.helperText {
    font-size: 14px;
}

.remember {
    font-size: 14px;
    line-height: 24px;
    color: gray;
}

.link {
    color: #366EFF;
    font-weight: bold;
}