.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.packTitle {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
}
.packImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
}

.textField {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    padding: 0 25px;
}

.private {
    margin: 10px 0;
    padding: 0 25px;
}

.saveBtn,
.wrapper__btn,
.cancelBtn {
    background: #366eff;
    box-shadow: 0px 4px 18px rgba(54, 110, 255, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 16px;
    border: 1px solid lightgrey;
    color: #fcfcfc;
    font-weight: 600;
    transition: 1s;
    cursor: pointer;
}

.wrapper__btnDisabled {
    background: #8a8c8f;
    box-shadow: 0px 4px 18px rgba(54, 110, 255, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    color: #fcfcfc;
    font-weight: 600;
    transition: 1s;
    cursor: pointer;
}

.saveBtn,
.cancelBtn {
    width: 115px;
}

.cancelBtn {
    background: #fcfcfc;
    color: black;
    box-shadow: none;
}

.btnGroup {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    margin-bottom: 25px;
}
