.password {
    position: relative;
}
.wrapper {
    margin-top: 30px;
    padding: 0 135px;
}

.wrapper__header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.wrapper__title {
    margin: 0;
}

.wrapper__btn {
    background: #366eff;
    box-shadow: 0px 4px 18px rgba(54, 110, 255, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    color: #fcfcfc;
    font-weight: 600;
    transition: 1s;
    cursor: pointer;
}

.wrapper__btnDisabled {
    background: #8a8c8f;
    box-shadow: 0px 4px 18px rgba(54, 110, 255, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    color: #fcfcfc;
    font-weight: 600;
    transition: 1s;
    cursor: pointer;
}
.title {
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    margin-bottom: 10px;
}

.container {
    max-width: 1650px;
    border: 1px solid lightgray;
    margin: 0 auto;
}

.search {
    margin: 40px 0
}

.text {
    text-align: center;
    color: #aaaaaa;
    font-size: 18px;
    width: 100%;
}